.tringle::before {
    content: "";
    border: 49vw solid transparent;
    border-top: 100px solid white;
    position: absolute;
    top: 0px;
}

.tringle-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(1, -1);
    border-bottom: 9vh solid #ffffff;
    border-left: 50vw solid transparent;
}


.text-selected {
    color: #14afca;
}



.tringle-bottom-left::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 9vh solid #ffffff;
    border-right: 50vw solid transparent;
    transform: scaleX(-1, 1);
}




/*HEADER*/

.header {
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;


}


.tringle-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 9vh solid #ffffff;
    border-right: 50vw solid transparent;
    transform: scaleX(-1, 1);
}

.tringle-top::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(1, -1);
    border-bottom: 9vh solid #ffffff;
    border-left: 50vw solid transparent;

}

.main-menu {
    background-color: #fff;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 200px;
    user-select: none;
    position: relative;

}

.company-name {

    color: #424f57;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-family: "Roboto Light";
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;




}


.main-menu-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #3e4c4e;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;
    padding-right: 60px;
}

.change-theme-blue {

    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #14afca;
    position: relative;
    top: 16px;
    cursor: pointer;
    z-index: 1;
}


.menu {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 202px;


}

.main-menu-item:hover {
    color: #14afca;
    transition: .5s;
}

.main-menu-item:not(:hover) {
    color: #3e4c4e;
    transition: .5s;
}




/*SLOGAN*/



.main-slogan {
    display: flex;
    color: #ffffff;
    font-family: "Futura BT", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin-top: 173px;
    padding-bottom: 168px;

}

.main-slogan::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

/*ABOUT*/


.about-section {
    padding-top: 108px;
    margin: 0 auto;
}

.slogan {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #14afca;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;

}


.descriptions {
    font-family: "OpenSans", sans-serif;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: none;
    margin-bottom: 42px;
}

.descriptions::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.slogan::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.about-section-description {
    margin: 0 auto;
    width: 1000px;
    color: #424f57;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 101px;
}

.about-section-description::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}




/*COMPANIES*/

.companies-section {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;

}


.all-companies {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    padding-top: 134px;

}

.all-companies::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.companies-description {

    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
}

.companies-description::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.company-logo-item:nth-child(2) {
    width: 220px;
    height: 150px;
    transform: scale(3);
    position: relative;
    bottom: -70px;

}

.companies-logo {
    position: relative;
    z-index: 2;
    bottom: -70px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 184px;
}

/*TEAM*/


.meet-team {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    padding-top: 94px;


}

.meet-team::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.team-description {

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #424f57;
    line-height: 75px;
    padding-bottom: 47px;
}

.team-description::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.meetUs {
    display: flex;
    justify-content: space-evenly;
}

.meetUs-container {
    align-items: center;
}


.meetUs-container p {
    width: 279px;
    margin-left: -40px;
    text-align: center;
    color: #424f57;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 28px;
    padding-top: 27px;
    padding-bottom: 124px;
}

.meetUs-container p::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

/*Testimonials*/


.testimonials-section {
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 115px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;

}

.all-companies {
    padding-top: 199px;
}

.quote {
    width: 877px;
    color: #d3cccc;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
    position: relative;

}


.quote::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}

.quote-author::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}


.quote-author {

    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-style: italic;
    position: absolute;
    top: 65px;
    right: 160px;
}

.after-quote {
    padding-bottom: 164px;
}




/*WHY SECTION*/



.why-section-formula {

    color: #424f57;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 55px;
    margin-bottom: 113px;
}

.why-section-formula::selection {
    color: #FFFFFF;
    background: #0fd6f8;
}


/*FOOTER*/



.copyright {
    color: #3d3c3c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 104px;

}


.bolder-text {
    font-weight: bold;
    font-size: 16px;
}