.first-page{
	height: 100vh;
	width: 100vw;
    background: #000;
    overflow: hidden;
	
  
}
.container {
    
	color:#f4c900;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	
    
}
.titles{
	width:20em;
	height:50em;
	font-size: 350%;
	text-align: justify;
	position: absolute;
	left:50%;
	margin-left: -9em;
	bottom: 0;
	transform-origin: 50% 100% ;
	transform: perspective(300px) rotateX(20deg);
}
.titles h1:nth-child(1){
	text-align:center;
}

.title-description{
	margin-top: 30px;
}

.media-file{
	opacity: 0;
}


.title-content{
	position: absolute;
	top:100%;
	animation:starWars 30s linear  infinite;
	pointer-events: none;
    color:#f4c900;
}

@keyframes starWars{
	0%{
		top:100%;
	}
	100%{
		top:25%;
	}
}
