body{
	background-image:url(../images/bg.png);
	background-repeat:no-repeat;
	background-size: cover;	
}

html{
	min-height:100%;
}

header{
	width:1145px;
	margin:0 auto;
	margin-top:50px;	
	display: flex;
	justify-content:space-between;
	flex-direction: row;
}

.info_container{
	align-self: flex-end;
}

.full-logo{
	width:100px;
	height:50px;
	align-self: flex-start;
}

a{
	text-decoration:none;
}

.logo-text-link-1{
	color:  #ffffff;
	font-size: 1.8em;
	font-weight: 700;
    

	
}
.logo-text-link-2{
	color:  #ffffff;
	font-size: 1.1em;
	font-weight: 700;
    

	
}


.info-1{
	color:  #ffffff;
	font-size: 1.1em;

}
.info-2{
	color:  #ffffff;
	font-size: 1.1em;

}
.logo-picture-link-active{
  opacity:0;
	z-index:1;
	position: relative;
	bottom: 102px;
}


.logo-picture-link{
	opacity:1;
	align-self:flex-start;
}

.logo-text-active{
	width:50px;
	display: flex;
	flex-direction:column;
	position: relative;
  bottom: 53px;
  left: 63px;
}

.full-logo:hover  a {
	color:#f26522;
}
.full-logo:hover  .logo-picture-link-active{
	opacity:1;
	cursor: pointer;
}

.main{
	width:1150px;
	height:700px;
	font-size:16px;
	font-family: "Verdana", sans-serif;
	overflow:hidden;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin:0 auto;
}



.image{
	border:2px inset #e8e8e8;
	box-sizing: border-box;
	background-color:  #ffffff;
	box-shadow: 0px 17px 24px 0px #000000;	
	 border: 3px solid transparent;
      border-image: linear-gradient(#b5b4b4 0%, #191919 100%);
      border-image-slice: 1;
}


.names{
	color:  #ffffff;
	font-size: 1.1em;
	text-align: center;
}

footer{
	color:  #ffffff;
	font-size: 0.7em;
	margin-top:5%;
	text-align: center;
}

.selected{
	position:relative;
	width:312px;
	height:60px;
	top:205px;
	overflow: hidden;
}

.card:hover .selected{
	background-color:#f26522;
	transition:1s;
}

.from{
	opacity:0;
	font-size:0.6em;
	color:#ffffff;
	position:relative;
	top:14px;
	left:20px;
}

.euro{
	opacity:0;
	color:#ffffff;
	font-size:1.2em;
	position:relative;
  left: 12px;
  bottom: 7px;
}

.vd{
	opacity:0;
	color:#ffffff;
	font-size:0.8em;
	position:relative;
  left: 165px;
  bottom: 45px;	
}

.symbol{
	opacity:0;
	color:#ffffff;
	font-size:0.5em;
	position:relative;
  left: 278px;
  bottom: 72px;
	font-weight:600;
}


.card:hover p{
	opacity:1;
	transition:1s;
}

.card:hover  .names{
	color:#f26522;
}

