/*GLOBAL START*/

.text-selected {
    color: #f1ad1d;
}

.section-title.text-white {
    color: #fff;

}


.section-title {
    font-family: Montserrat, sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 118px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.white-bg {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    padding: 41px 32px;
   margin-left:-31px;
}

.section-description-line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
}

.decoration-underline::after {
    content: "";
    display: block;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
    margin: 52px auto 0;
}

.section-description {
    font-family: "Lato", sans-serif;
    color: #4d4943;
    font-size: 17px;
    margin-bottom: 52px;
    text-align: center;

}



/*GLOBAL END*/





/*HEADER-SECTION START*/



.header {
    background-image: url("../img/bg1.jpg");
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    height: 100vh;
    background-attachment: fixed;
    box-sizing: border-box;



}





.header-title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.header-company-description {
    font-family: Lato, sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan {
    width: 800px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 44px 30px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);


}

/*HEADER-SECTION END*/



.aftermain-section {
    padding-top: 72px;
    padding-bottom: 47px;
}

.aftermain-section2 {
    margin-bottom: 180px;
}

.afterdlogan-2-section {
    margin-bottom: 180px;
}





/*MAIN-SECTION START*/

.slogan-1 {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    background-attachment: fixed;
    margin-bottom: 150px;
}

.slogan-2 {
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    background-attachment: fixed;
    margin-bottom: 150px;

}

.slogan-3 {
    background-image: url("../img/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    background-attachment: fixed;
    margin-bottom: 150px;
}

.slogan-3-description {
    font-family: "OpenSans", sans-serif;
    color: #fff;
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

}

.white-decoration-inderline::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 281px;
    height: 3px;
    border: none;
    margin: 52px auto 0;

}

.img-logo2 {
    display: flex;
    justify-content: space-evenly;
}

.img-logo2 img {
    margin-right: -54px;
}

/*MAIN-SECTION END*/
