 body {
     width: 1282px;
     margin: 0 auto;
     padding: 0;
     font-family: MyriadProRegular, sans-serif;
     color: black;
 }

 /*HEADER START*/

 .header {
     margin-top: 60px;
 }

 .header__logo {

     text-decoration: none;

 }

 .header__logo .header__logo__mda {
     color: #49cbff;
     font-size: 40px;
     text-decoration: none;
 }

 .header__logo .header__logo__ra {
     color: black;
     font-size: 40px;
     text-decoration: none;
 }

 .header__menu {
     background-color: #35444f;
     margin-top: 45px;
     font-size: 24px;
     text-align: center;
     padding: 31px 0;
     padding-left: 25px;
     padding-right: 25px;
 }

 .header__menu .header__menu__item {
     text-decoration: none;
     color: white;
     padding: 30px 40px;


 }

 .header__menu .header__menu__item:hover {
     border-left: 1px solid #818181;
     border-right: 1px solid #818181;
     box-sizing: border-box;

 }

 .header__menu .header__menu__item:hover {
     background-color: #222f3a;


 }

 /*HEADER END*/

 /*CONTENT START*/

 .grow {
     padding: 50px 270px;


 }

 .grow:hover {
     -webkit-transform: scale(1.2, 1.2);
     -webkit-transition-timing-function: ease-out;
     -webkit-transition-duration: 550ms;
     -moz-transform: scale(1.2, 1.2);
     -moz-transition-timing-function: ease-out;
     -moz-transition-duration: 550ms;
     text-align: center;
 }

 .content-img {
     width: 885px;
     display: inline-block;
     float: right;
     text-align: center;
     border: 1px solid #35444f;
     margin-top: 50px;
     margin-bottom: 50px;



 }



 .text {
     text-align: center;
     display: inline-block;
     font-size: 18px;
     color: #484848;
     width: 815px;
     text-align: left;
     margin-left: 450px;
     padding-bottom: 50px;
     font-family: sans-serif;


 }


 /*CONTENT END*/


 /*LEFT MENU START*/
 .sidepiece__menu {
     background-color: white;
     font-size: 24px;
     text-align: left;
     margin-top: 50px;
     display: inline-block;
     width: 344px;
     border: 1px solid #35444f;
 }

 .sidepiece__menu .menu_left {
     text-decoration: none;
     color: #2c2c2c;
     padding: 21px 40px;
     display: block;
 }

 .sidepiece__menu .menu_left:hover {

     box-sizing: border-box;
     text-align: left;
 }

 .sidepiece__menu .menu_left:hover {
     background: grey;
     text-align: left;
 }

 /*LEFT MENU END*/

 /*BOTTOM MENU START*/

 .botoom__menu {
     background-color: lightgray;
     font-size: 20px;
     text-align: left;
     padding: 31px 0;
     padding-left: 25px;
     padding-right: 25px;
     margin-bottom: 30px;
 }

 .botoom__menu .menu_left {
     text-decoration: none;
     color: black;
     padding: 21px 40px;

 }

 .botoom__menu .menu_left:hover {

     border-left: 1px solid lightgray;
     border-right: 1px solid lightgray;
     box-sizing: border-box;

 }

 .botoom__menu .menu_left:hover {
     background: lightgray;
     color: dodgerblue;
     border-bottom: 1px solid #3181a6;
     padding-bottom: 3px;



 }

 /*BOTTOM MENU END*/