.container {
    background-image: url("../img/backgroung-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    user-select: none;


}





/*SPRITE START*/
nav {
    float: right;
}

.ic_caledar {

    margin-right: 30px;
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png')-106px -49px;
    margin-top: 19px;
}

.ic_caledar:hover {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -106px -10px;

}

.ic_forum {
    margin-right: 30px;
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
    margin-top: 18px;
}

.ic_forum:hover {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.ic_journey {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -50px -50px;
    margin-top: 18px;

}

.ic_journey:hover {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -50px;
}




nav a {
    display: inline-block;
    cursor: pointer;

}







/*SPRITE END*/
.clearfix::after {
    content: "";
    clear: both;

}



.link-color {
    color: #3cb878;
}

.link-color:hover {

    border-bottom: 1px solid #3cb878;
}




/*    HEADER START*/



.header {
    height: 56px;
    margin-bottom: 65px;
    background-color: rgba(0, 0, 0, 0.45);
}

.title-link {
    transition: 0.5s;
}

.main-title-left {
    display: inline-block;
    text-decoration: none;
    color: white;
    float: left;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;

}

.title-link:hover {
    color: #3cb878;
}

/*SPRITE START*/

/*SPRITE END*/






.main-title-right {
    display: inline-block;
    float: right;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-right: 90px;




}

.line {
    border-left: 1px solid #30302e;
    padding-left: 25px;
}

.main-title-right a {
    text-decoration: none;
    color: #fff;
}




/*    HEADER END*/



/*MAIN START*/

.main-content {
    margin-top: 65px;
    width: 444px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 65px;



}

.left-side-decoration {
    background: #3cb878;
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 0;
}


.form-title {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    color: #434343;
    padding: 30px 205px 15px 42px;

}


.form-link {
    display: inline-block;
    padding: 33px 59px 15px 0;

}

.form-link a {
    text-decoration: none;
    color: #3cb878;
    font-family: sans-serif;
    font-size: 14px;
}

.form-link a:hover {
    border-bottom: 1px solid #b1e3c9;
}




.loginBtn {
    width: 157px;
    height: 46px;
    box-sizing: border-box;
    position: relative;
    padding: 0 8px 0 62px;
    border: none;
    text-align: left;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

.loginBtn::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {

    font-family: sans-serif;
    font-size: 16px;
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;

}



.loginBtn--facebook::before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 5px 12px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {

    background: #DD4B39;

}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 5px 13px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}



.afterbutton-line {
    margin: 20px 0 20px 0;
}

.afterbutton-line hr {
    display: inline-block;
    border: 0.7px solid #eaeaea;
    width: 130px;
}

.afterbutton-line p {
    display: inline-block;
    position: relative;
    color: #848484;
    top: -3px;
    margin-right: 20px;
    margin-left: 20px;
}

/*INPUT SECTION START*/

.Form-focus {
    border: 1px solid #e2e2e2;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 320px;
    height: 45px;
    cursor: pointer;
    opacity: 0.6;
}

.input__check {
    display: inline-block;
    width: 20px;
    height: 18px;
    font-size: 10px;
    color: #e2e2e2;
    opacity: 0;

}

label p {
    margin: 20px 100px 30px 10px;
    font-size: 14px;
     font-family: "Verdana", sans-serif;
    color: #000;
    position: relative;
    top: -3px;
    display: inline-block;
    cursor: pointer;
}


label:hover span {
    text-decoration: underline;
}

.input__check: hover span {
    text-decoration: underline;
}
.term-link a {
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    color: #3cb878;

}


.Form-focus:focus {
    outline: 0.5px solid #fff;
    box-shadow: 0 4px 6px 2px #c5c0c0;
}

.psevdo__checbox {
    background: #fff;
    color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    position: relative;
    left: 51px;
    bottom: 50px;
    z-index: +1;
    margin: 0;
    font-weight: bolder;
    cursor: pointer;
}

.input__check:checked ~ .psevdo__checbox {
    color: aquamarine;
}

.form__input-gren {
    background-color: #3cb878;
    position: relative;
    bottom: 35px;
    font-size: 16px;
    color: #fff;
    opacity: 1;
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 3px;
}

.form__input-gren:hover {
    background-color: #329a65;

}










/*INPUT SECTION END*/















/*MAIN END*/
