 @font-face {
     font-family: Roboto;
     src: url('../fonts/Roboto-Black.ttf');
 }

 .main-menu {

     text-align: center;
     margin-top: 32px;
     padding-bottom: 35px;
 }

 .main-menu ul {
     display: table;
     margin: auto;
 }

 .main-menu li {

     text-align: center;
     float: left;
     margin-left: 65px;
     font-family: Roboto, sans-serif;
     font-size: 18px;
     font-weight: 900;


 }

 .list {

     list-style: none;

 }

 .link {
     text-decoration: none;
     color: #16a085;
 }

 .top-img {
     text-align: center;
 }

 .content {

     background-color: #f5f6f7;
     width: 1280px;
     text-align: center;
     margin: 0 auto;

 }

 .headline {


     margin-bottom: 34px;
     padding-top: 56px;
     text-align: center;
     font-family: Roboto, sans-serif;
     color: #373737;
     font-size: 22px;
     font-weight: 900;


 }

 .paragraph1 {
     text-align: center;
     font-family: Roboto, sans-serif;
     color: #373737;
     margin-left: 250px;
     margin-right: 250px;
     font-size: 16px;
     font-weight: 900;
     line-height: 26px;

 }

 .paragraph2 {
     text-align: center;
     font-family: Roboto, sans-serif;
     color: #373737;
     margin-left: 250px;
     margin-right: 250px;
     font-size: 16px;
     font-weight: 900;
     line-height: 26px;
     padding-top: 30px;
 }

 .block-button {
     text-align: center;
 }

 .button {

     margin-top: 41px;
     border-radius: 5px;
     background-color: #16a085;
     width: 192px;
     height: 51px;
     border: 0px;
 }

 .button-text {
     display: block;
     align-content: center;
     text-decoration: none;
     color: white;
 }

 .footer {
     margin-bottom: 45px;
     margin-top: 47px;
     margin-left: 1090px;
     font-family: Roboto, sans-serif;
     color: #373737;
     font-size: 16px;
     font-weight: 900;

 }
